
:root{
    --softBlue: #67B6FF;
    --darkBlue: #1877F2;
    --softGray: #F2F4F8;
    --white: #ffffff;
    --black: #0000000;
    --linesColor : #DDE1E6;
    --fuentePrincipal: 'Roboto', sans-serif;
}
/* Globals */
html{
    font-size: 62.5%;
    box-sizing: border-box;
}
*,*:before,*:after{
    box-sizing: inherit;
}
body{
    font-family: var(--fuentePrincipal);
    font-size: 1.6rem;
    line-height: 1.8;
}
/* Utilities */
.text-center{text-align: center;}
.text-left{text-align: left;}

/* end utilities */
h1{
    font-size: 6rem;
    font-family: var(--fuentePrincipal);
    font-size: 700;
}
a{
    text-decoration: none;
    color: var(--black);
}
img{
    max-width: 100%;
    display: block;
}
.contenedor{
    max-width: 120rem;
    margin: 0 auto;
    width: 90%;
}
.nav-main{
    width: 100%;
    height: auto;
    background-color: #67B6FF;

}
.container__list{
    width: 100%;
    display: flex;
    justify-content: space-around;
}
.container__list .list__item{
    list-style: none;
    font-size: 2.2rem;
}
.main__container{
    display: grid;
    grid-template-areas: "main main aside"
                         "main main aside"
                         "main main aside";

}
.main{
    grid-area: main;
}
.aside{
    grid-area: aside;
}


.icon{
    display: block;
    fill: #fff;
    width: 5rem;
    height: 5rem;
}
.icon-search{
    position: absolute;
    top: .7rem;
    margin-left: 2rem;
    background: url(/img/search_FILL0_wght400_GRAD0_opsz48.svg) ;
}
.svg-icon{
    fill: #fff;
}
.icon-cart{
    background: url(/img/shopping_cart_FILL0_wght400_GRAD0_opsz48.svg);
}
.icon-profile{
    background: url(/img/account_circle_FILL0_wght400_GRAD0_opsz48.svg);
}

.form{
    height: 40rem;    
}
.form__fieldset{
    border: none;
    height: 100%;
    display:flex;
    flex-direction: column;
    justify-content:space-around;
    align-items: center;
}
.form__item{
    display: flex;
    flex-direction: column;
    align-items:flex-start;
}
.form__label{
    font-size: 2.2rem;
    margin-bottom: 1rem;
}
.form__input{
    width: 45rem;
    padding: .8rem;
    background-color: var(--softGray);
    border: none;
}
.checkbox{
    align-self: center;
    width: 45rem;
}

.main__button{
    display: inline-block;
    width: 45rem;
    background-color: var(--darkBlue);
    color: var(--white);
    border: none;
    border-radius: 1rem;
    padding: .8rem;
    font-weight: bold;
}
.forgot--password{
    width: 45rem;
    margin: 0 auto;
    border-bottom: solid .2rem var(--linesColor);
}
.forgot--password p{
    font-size: 2.2rem;
}
.forgot--password  a {
    color: var(--darkBlue);
}
.Account--register{
    margin-top: 4rem;

}